$corclara: #e2c8af;
$corescura: #3c485e;
$fonttitle: "Karla", sans-serif;
$fontbody: "Rubik", sans-serif;
$paddingtext: 0 30px 0 30px;
$paddingh1: 70px 0 20px 0;
$paddingh2: 70px 0 20px 0;
$corfont: #696969;
$hoverclaro: #b89882;
$hoverescuro: #6c7380;
$buttonescuro: #636b79;
$buttonclaro: #b18a70;

@mixin text {
  text-align: center;
  line-height: 30px;
}

@mixin button {
  border-radius: 25px;
  margin: 40px 0 70px 0;
  border: transparent;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 11px;
}

body {
  background-color: #f3ede7;
  font-family: $fontbody;
  box-sizing: border-box;
}

h1 {
  font-family: $fonttitle;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  padding: $paddingh1;
}

h2 {
  font-family: $fontbody;
  padding: $paddingh2;
  letter-spacing: 1px;
  color: $corfont;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.btn-menu {
  display: none;
}
.btn-menu-close {
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  a {
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    padding: 15px;
    color: $corescura;
    font-weight: bold;
  }
}

.cards {
  display: flex;
  width: 100%;
  height: 100%;
}
.cards-item {
  width: 40%;

  .cards-texts {
    @include text;
    button {
      @include button();
    }
  }
}
.card1 {
  background-color: $corescura;
  padding: $paddingtext;
  color: $corclara;
  p {
    padding: $paddingtext;
  }
  button {
    background-color: $buttonescuro;
    color: $corclara;
    &:hover {
      background-color: $hoverescuro;
    }
  }
}
.card2 {
  background-color: $corclara;
  padding: $paddingtext;
  color: $corescura;
  p {
    padding: $paddingtext;
  }
  button {
    background-color: $buttonclaro;
    color: $corclara;
    &:hover {
      background-color: $hoverclaro;
    }
  }
}

.cover-img {
  background-image: url(imagens/img1.jpg);
  width: 60%;
  background-size: cover;
  background-position: center;
}

.ambients {
  background-color: #fff;
  h1 {
    color: $corfont;
  }
  p {
    @include text();
    color: $corfont;
    width: 60%;
    margin: 0 auto;
    padding: $paddingtext;
    padding-bottom: 70px;
  }
}

.carousel {
  background-color: #e2c8af;
  padding: 60px 0 60px 0;
  display: flex;
  .carousel-item {
    margin: 0 auto;
    width: 60%;
    color: $corfont;
  }
  .carousel-img {
    background-size: cover;
    height: 350px;
  }
  .carousel-text {
    @include text();
    padding: $paddingtext;
    padding-bottom: 70px;
    background-color: white;
    color: $corfont;
  }
  .btn-arrow {
    background-color: transparent;
    border: none;
    color: $buttonclaro;
    margin: 0 auto;
  }
}

.img-1 {
  background-image: url(imagens/img2.jpg);
}
.img-2 {
  background-image: url(imagens/img3.jpg);
}
.img-3 {
  background-image: url(imagens/img4.jpg);
}

.none {
  display: none;
}

.team {
  background-color: #fff;
  padding-bottom: 70px;

  .title {
    @include text();
    padding: $paddingtext;
    padding-bottom: 70px;
    color: $corfont;
  }
  .team-container {
    background-color: white;
    box-shadow: 0 0 1em rgb(173, 173, 173);
    width: 90%;
    margin: 0 auto;
  }
}

.team-content-1 {
  display: flex;

  .team-text1 {
    color: $corfont;
    text-align: center;
    width: 60%;
    p {
      padding: $paddingtext;
      line-height: 30px;
    }
  }
  .team-img1 {
    background-image: url(imagens/people2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  button {
    @include button();
    background-color: $corescura;
    color: $corclara;
    &:hover {
      background-color: $hoverescuro;
    }
  }
}

.team-content-2 {
  display: flex;
  flex-direction: row-reverse;
  .team-img2 {
    background-image: url(imagens/people1.jpg);
    background-repeat: no-repeat;
    width: 60%;
    background-size: cover;
    background-position: center;
  }
  .team-text2 {
    color: $corfont;
    text-align: center;
    width: 100%;
    p {
      padding: $paddingtext;
      line-height: 30px;
    }
  }
  button {
    @include button();
    background-color: $corescura;
    color: $corclara;
    &:hover {
      background-color: $hoverescuro;
    }
  }
}

.form {
  background-color: $corescura;
  margin-bottom: 90px;
  padding-bottom: 40px;
  @include text();
  color: $corclara;

  .form-item1 {
    margin: 40px -7px 40px 0;
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 25px 0 0 25px;

    &:focus {
      box-shadow: 0 10px 1em $corclara;
    }
  }
  .form-item2 {
    width: 110px;
    margin-left: 0;
    padding: 15px;
    padding-left: 20px;
    border: none;
    border-radius: 0 25px 25px 0;
    color: white;
    background-color: $buttonclaro;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      background-color: $hoverclaro;
    }
  }
}

// @media (max-width: 768px) {
//   .navbar {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     height: 100%;
//   }
//   .btn-menu {
//     background-color: transparent;
//     border: none;
//     margin-right: 5px;
//     color: $corfont;
//     padding: 10px;
//   }

//   .btn-menu-close {
//     padding: 10px;
//     position: relative;
//     top: -15px;
//     right: -170px;
//     background-color: transparent;
//     border: none;
//     color: white;
//     &:hover {
//       opacity: 0.5;
//     }
//   }

//   .menu {
//     background-color: $corescura;
//     position: fixed;
//     height: 100%;
//     transform: translateX(250px);
//     transition: transform 290ms ease;
//   }

//   .menu-open {
//     transform: translateX(0px);
//   }
//   ul li {
//     border-bottom: 1px solid #f0d3bb;
//     padding: 20px;
//     width: 200px;
//     a {
//       text-decoration: none;
//       color: $corfont;
//       text-transform: uppercase;
//       &:hover {
//         opacity: 0.5;
//       }
//     }
//   }
// }

@media only screen and (max-width: 500px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }

  .team-content-1 {
    width: 100%;
    display: block;
  }
  .team-content-2 {
    width: 100%;
    display: block;
  }
  .team-img1 {
    width: 100%;
  }
  .team-img2 {
    width: 100%;
  }
  .team-text1 {
    width: 100%;
  }
  .team-text2 {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff; /* Blue */
  }
}
