body {
  background-color: #f3ede7;
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  padding: 70px 0 20px 0;
}

h2 {
  font-family: "Rubik", sans-serif;
  padding: 70px 0 20px 0;
  letter-spacing: 1px;
  color: #696969;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.btn-menu {
  display: none;
}

.btn-menu-close {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu a {
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  padding: 15px;
  color: #3c485e;
  font-weight: bold;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.cards-item {
  width: 40%;
}

.cards-item .cards-texts {
  text-align: center;
  line-height: 30px;
}

.cards-item .cards-texts button {
  border-radius: 25px;
  margin: 40px 0 70px 0;
  border: transparent;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 11px;
}

.card1 {
  background-color: #3c485e;
  padding: 0 30px 0 30px;
  color: #e2c8af;
}

.card1 p {
  padding: 0 30px 0 30px;
}

.card1 button {
  background-color: #636b79;
  color: #e2c8af;
}

.card1 button:hover {
  background-color: #6c7380;
}

.card2 {
  background-color: #e2c8af;
  padding: 0 30px 0 30px;
  color: #3c485e;
}

.card2 p {
  padding: 0 30px 0 30px;
}

.card2 button {
  background-color: #b18a70;
  color: #e2c8af;
}

.card2 button:hover {
  background-color: #b89882;
}

.cover-img {
  background-image: url(imagens/img1.jpg);
  width: 60%;
  background-size: cover;
  background-position: center;
}

.ambients {
  background-color: #fff;
}

.ambients h1 {
  color: #696969;
}

.ambients p {
  text-align: center;
  line-height: 30px;
  color: #696969;
  width: 60%;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  padding-bottom: 70px;
}

.carousel {
  background-color: #e2c8af;
  padding: 60px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .carousel-item {
  margin: 0 auto;
  width: 60%;
  color: #696969;
}

.carousel .carousel-img {
  background-size: cover;
  height: 350px;
}

.carousel .carousel-text {
  text-align: center;
  line-height: 30px;
  padding: 0 30px 0 30px;
  padding-bottom: 70px;
  background-color: white;
  color: #696969;
}

.carousel .btn-arrow {
  background-color: transparent;
  border: none;
  color: #b18a70;
  margin: 0 auto;
}

.img-1 {
  background-image: url(imagens/img2.jpg);
}

.img-2 {
  background-image: url(imagens/img3.jpg);
}

.img-3 {
  background-image: url(imagens/img4.jpg);
}

.none {
  display: none;
}

.team {
  background-color: #fff;
  padding-bottom: 70px;
}

.team .title {
  text-align: center;
  line-height: 30px;
  padding: 0 30px 0 30px;
  padding-bottom: 70px;
  color: #696969;
}

.team .team-container {
  background-color: white;
  -webkit-box-shadow: 0 0 1em #adadad;
          box-shadow: 0 0 1em #adadad;
  width: 90%;
  margin: 0 auto;
}

.team-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-content-1 .team-text1 {
  color: #696969;
  text-align: center;
  width: 60%;
}

.team-content-1 .team-text1 p {
  padding: 0 30px 0 30px;
  line-height: 30px;
}

.team-content-1 .team-img1 {
  background-image: url(imagens/people2.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.team-content-1 button {
  border-radius: 25px;
  margin: 40px 0 70px 0;
  border: transparent;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #3c485e;
  color: #e2c8af;
}

.team-content-1 button:hover {
  background-color: #6c7380;
}

.team-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.team-content-2 .team-img2 {
  background-image: url(imagens/people1.jpg);
  background-repeat: no-repeat;
  width: 60%;
  background-size: cover;
  background-position: center;
}

.team-content-2 .team-text2 {
  color: #696969;
  text-align: center;
  width: 100%;
}

.team-content-2 .team-text2 p {
  padding: 0 30px 0 30px;
  line-height: 30px;
}

.team-content-2 button {
  border-radius: 25px;
  margin: 40px 0 70px 0;
  border: transparent;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #3c485e;
  color: #e2c8af;
}

.team-content-2 button:hover {
  background-color: #6c7380;
}

.form {
  background-color: #3c485e;
  margin-bottom: 90px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 30px;
  color: #e2c8af;
}

.form .form-item1 {
  margin: 40px -7px 40px 0;
  width: 40%;
  padding: 12px;
  border: none;
  border-radius: 25px 0 0 25px;
}

.form .form-item1:focus {
  -webkit-box-shadow: 0 10px 1em #e2c8af;
          box-shadow: 0 10px 1em #e2c8af;
}

.form .form-item2 {
  width: 110px;
  margin-left: 0;
  padding: 15px;
  padding-left: 20px;
  border: none;
  border-radius: 0 25px 25px 0;
  color: white;
  background-color: #b18a70;
  text-transform: uppercase;
  font-size: 12px;
}

.form .form-item2:hover {
  background-color: #b89882;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: #f09a9d;
    /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e;
    /* Yellow */
  }
  .team-content-1 {
    width: 100%;
    display: block;
  }
  .team-content-2 {
    width: 100%;
    display: block;
  }
  .team-img1 {
    width: 100%;
  }
  .team-img2 {
    width: 100%;
  }
  .team-text1 {
    width: 100%;
  }
  .team-text2 {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff;
    /* Blue */
  }
}
/*# sourceMappingURL=estilo.css.map */